* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5%*/
  font-size: 62.5%;

  /* overflow-x: hidden; */
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #444;

  /* elm that overflow in x-axis will be hidden, only works if there is nothing absolutely positioned in relation to body, needs to be both on html & body elms */
  /* overflow-x: hidden; */
}

/******************/
/* GENERAL REUSABLE COMPONENTS */
/******************/

.container {
  /* 1140px, these are conventions */

  /* container will have a width less than 120rem */
  max-width: 120rem;
  padding: 0 3.2rem;

  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

/* if grid class/elm is not last child of it's parent container */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v{
  align-items: center;
}

.heading-primary, .heading-secondary, .heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: $45260a; */
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1a4d78;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  font-weight: 600;

  /*  Only neccesorly for  .btn*/
  border: none;
  cursor: pointer;

  /* Put transition on original "state" */
  transition: background-color 300ms,box-shadow 300ms, color 300ms
}

/* * means, select every single elm */
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(51, 155, 240, 0.5)
}

/* HELPER/SETTING CLASSES */
/* used a helper class, really want the style that it has, good practise */
/* helper class used mostly for margin that we want to use in multiple places*/

.margin-bottom-sm {
  margin-bottom: 3.6rem !important;
}

.form-margin-bottom{
  margin-bottom: 1.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

.form-input {
  /* MAYBE EDIT/CHANGE THIS LATER */
  /* padding: 1.2rem; */
  padding: 0.8rem;

  /* font-size: 1.8rem; */
  font-size: 1.4rem;


  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #f6f6f6;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}