@media (pointer:none),
(pointer:coarse) {

  .form-date-grid {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;

    /* justify-items: start; */
  }

  #form-time-from,
  #form-time-end {
    width: 35%;
  }

  .arrow-container {
    display: none;
  }

}

/* 1em = 16px */
/* <= 1560px */
/* make  h1 smaller */
@media (max-width: 97.5em) {
  h1 {
    font-size: 3.6rem;
  }

}

/* <= 1315px */
@media (max-width: 82.1875em) {
  h1 {
    font-size: 3.0rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  /* .grid {
    column-gap: 2.4rem;
    row-gap: 6.4rem;
  } */


  .heading-secondary {
    /* font-size: 3.6rem; */
    font-size: 3.0rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .testimonials-container {
    padding: 2.4rem 2.4rem 2.4rem 3rem;
    /* padding: 9.6rem 3.2rem; */
  }

  .subheading {
    font-size: 1.2rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* <= 1070px */
@media (max-width: 66.875em) {
  h1 {
    font-size: 2.4rem;
  }

  html {
    font-size: 56.25%;
  }
}

/* <= 955px */
@media (max-width: 59.6875em) {

  /* html {
    font-size: 50%
  } */
 
  .copyright-container {
    display: none;
  }

  .copyright-mobile {
    display: block;
  }


  .grid--footer {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }


  .footer-logo {
    margin-bottom: 1.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  /* Mobile Navigation */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  /* Only show navigation if grid icon is clicked on */
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    /* move it out of screen by it's own width, to make transform animation better */
    transform: translateX(100%);

    /* we make it flex to center it, even though there's only 1 elm inside */
    display: flex;
    align-items: center;
    justify-content: center;

    /* adds animation only when adding .nav-open */
    /* transition: opacity 500ms ease-in, transform 500ms ease-in; */
    transition: all 500ms ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  /* first make the elm, then hide it, then add an active class to unhide it */
  .nav-open .main-nav {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    /* align-items: end; */
    /* text-align: center; */

    /* gap doesn't work on Safari */
    /* gap: 4.8rem; */
  }



  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }

}

/* <=788px */
@media (max-width: 49.25em) {
  .grid-trust {
    grid-template-columns: 1fr;
    /* row-gap: 4.8rem; */
    row-gap: 2.4rem;
    justify-items: center;
    align-items: center;
  }

  .maltese {
    width: 80%;
    grid-row: 2;
    justify-self: center;
  }

  .section-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .trust-heading {
    text-align: center;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

}

/* <=670px */
@media (max-width: 41.875em){
  /* make maltese image bigger */
  /* make "our services" picture smaller */

  .grid--z-pattern{
    column-gap: 2.4rem;
    row-gap: 7.4rem;
  }


  .cta-grid-2-cols {
    grid-template-columns: 1fr;
    row-gap: 1.8rem;
  }

  .maltese{
    width: 100%;
  }

  .grid--switch-field {
    column-gap: 2.0rem;
  }

}

/* <=546px */
@media (max-width: 34.125em) {
  
  .grid--switch-field {
    /* column-gap: 1.8rem; */
    column-gap: 1.2rem;
  }

  .grid--footer {
    grid-template-columns: 1fr;
    /* justify-items: start; */
    text-align: center;
    row-gap: 6.2rem;
  }

  .footer-logo{
    margin-bottom: 0.5rem;
  }

  .footer-heading {
    margin-bottom: 1.6rem;
  }

  .address {
    margin-bottom: 1.0rem;
  }

  .social-links{
    margin-bottom: 1rem;
  }

  .maltese {
    width: 100%;
  }

  #map {
    /* height: 50vh; */
    height: 43vh;
  }

  .grid--z-pattern{
    grid-template-columns: 1fr;
    row-gap: 2.0rem;
  }

  .step-img-box:nth-child(3) {
    grid-row: 4;
  }

  .step-img-box:not(:last-child){
    margin-bottom: 5.2rem;
  }

  .heading-tertiary{
    margin-bottom: 2.0rem;
  }

  .step-number{
    margin-bottom: 1.2rem;
  }

  .testimonials{
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
  }

  .testimonial-text{
    margin-bottom: 1.2rem;
  }


  .heading-secondary{
    margin-bottom: 4.8rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .location-container select{
    width: 65%;
  }

}


/* <= 865px */
/* @media (max-width: 54.0625em){
  h1{
    font-size: 2.0rem;
  }
} */


/* <= 725px */
/* @media (max-width: 45.3125em){
  h1{
    font-size: 1.6rem;
  }
} */



/* <= 725px */
/* @media (max-width: 45.3125em){
  h1{
    font-size: 1.6rem;
  }
} */


/* <= 590px */
/* @media (max-width: 36.875em){
  h1{
    font-size: 1.2rem;
  }
} */



/* LESS THAN 280PX WIDTH */