/* 
  >1104px
*/
/* @media (min-width: 69em) {
  html{
    font-size: 35%;
  }
} */

/* 1em = 16px */

/* <= 1560px */
/* make  h1 smaller */
@media (max-width: 97.5em){
  h1{
    font-size: 3.6rem;
  }

}


/* <= 1315px */
@media (max-width: 82.1875em){
  h1{
    font-size: 3.0rem;
  }

  /* .grid {
    column-gap: 2.4rem;
    row-gap: 6.4rem;
  } */


  .heading-secondary {
    /* font-size: 3.6rem; */
    font-size: 3.0rem;
  }

  .testimonials-container{
    padding: 2.4rem 2.4rem 2.4rem 3rem;
    /* padding: 9.6rem 3.2rem; */
  }

  .subheading{
    font-size: 1.2rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

/* <= 1070px */
@media (max-width: 66.875em){
  h1{
    font-size: 2.4rem;
  }

  html {
    font-size: 56.25%;
  }
}

@media (pointer:none), (pointer:coarse) {

  .form-date-grid{
    grid-template-columns: 1fr;
    row-gap: 0.5rem;

    /* justify-items: start; */
  }

  #form-time-from, #form-time-end {
    width: 35%;
  }

  .arrow-container{
    display: none;
  }

}


/* <= 865px */
/* @media (max-width: 54.0625em){
  h1{
    font-size: 2.0rem;
  }
} */


/* <= 725px */
/* @media (max-width: 45.3125em){
  h1{
    font-size: 1.6rem;
  }
} */



/* <= 725px */
/* @media (max-width: 45.3125em){
  h1{
    font-size: 1.6rem;
  }
} */


/* <= 590px */
/* @media (max-width: 36.875em){
  h1{
    font-size: 1.2rem;
  }
} */



/* LESS THAN 280PX WIDTH */