/******************/
/* HEADER */
/******************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /*  Because, header needs to be stickly for later */
  height: 9.6rem;
  padding: 0 4.8rem;

  /* closest parent of .main-nav */
  position: relative;
}

.logo {
  height: 6.2rem;
  /* height: 2.2rem; */
}

/******************/
/* NAVIGATION */
/******************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;

  /* doesn't work on Safari */
  /* gap: 4.8rem; */
}

.main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: color 300ms;
}

/* problem on mobile, after you click, it will always be on hover state */
.main-nav-link:hover, .main-nav-link:active {
  /* color: #1971c2; */
  color: #1c7ed6;
}

/* use & to increase specificity so that it always applies */
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #339af0;

  transition: background-color 300ms;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  /* background-color: #228be6; */
  background-color: #1c7ed6;
  /* background-color: #1971c2; */

}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* select based on attribute css */
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION, do all of below if class sticky exists */
.sticky .header {
  /* fix elm in viewport & will not move it while scrolling */
  /* problem is it takes elm out of the flow of page */
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;

  background-color: rgba(255, 255, 255, 0.97);
  z-index: 9999999999;
  box-shadow: 0 1.2rem 3.2 rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  /* brings page down to offset the height of navigation bar */
  margin-top: 8rem;
}


/******************/
/* HERO */
/******************/

.background-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  /* z-index: 99999; */
}

.section-hero {
  position: relative;
  height: 93vh;
  /* overflow: hidden; */
}

video[poster] {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h1 {
  z-index: 1;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  color: rgb(236, 236, 236);

  font-size: 4.4rem;
  transform: translate(-50%, -50%);

  background-color: #000;
  padding: 1.0rem;
  border-radius: 4px;
}

h1 span {
  color: #339af0;
}

/******************/
/* OUR SERVICES SECTION */
/******************/

.section-services {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}


/******************/
/* Testimonial Section */
/******************/

.section-testimonials {
  /* background-color: #ebf5fe; */
  /* background-color: #f1f9ff; */
  background-color: #edf7fe;

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;

  /* line height multiplies font-size by 1.8 */
  line-height: 1.8;
  margin-bottom: 1.6rem;  
}

.testimonial-name {
  font-size: 1.6rem;
  color: #666;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: transform 400ms;
}

.gallery-item img:hover {
  transform: scale(1.1)
}

/******************/
/* MAP SECTION */
/******************/
.section-map{
  padding: 9.6rem 0;
}

.map-text{
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;  
}

#map {
  height: 70vh;
  border-radius: 12px;
  width: 100%;

  /* max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto; */
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #2d3439;
  color: #ececec;
  border-radius: 5px;
  padding-right: 0.6rem;
  border-left: 5px solid #1864ab;
  /* border-left: 5px solid #339af0; */
}

.leaflet-popup-content-wrapper .leaflet-popup-content h4 {
  font-size: 1.6rem;
}
.leaflet-popup-content-wrapper .leaflet-popup-content p {
  font-size: 1.4rem;
}

/* tip of popup */
.leaflet-popup .leaflet-popup-tip {
  background-color: #2d3439;
}

/******************/
/* TRUST SECTION */
/******************/

.section-trust {
  background-color: #edf7fe;
}

.grid-trust{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;
  justify-content: center;

  padding: 9.6rem 0;
}

.section-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.maltese{
  width: 100%;
  border-radius: 12px;
}


/******************/
/* SECTION FORM */
/******************/
.section-form{
  padding: 9.6rem 0;
}

.form-subheading{
  /* font-size: 1.4rem; */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.8;
  display: block;
}

.form-subheading-lrg{
  /* font-size: 2.0rem; */
  font-size: 1.4rem;
}

.form-required {
  color: #ff0000;
  margin-left: 0.5rem;
}

.switch-field {
	overflow: hidden;
}

.icon{
  font-size: 1.8rem;
  display: block;
  margin-bottom: 2px;
}

/* Hide radio button circles */
.switch-field input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.switch-field label {
  border: 1px solid rgb(201, 207, 212);

  /* MAYBE EDIT/CHANGE THIS LATER */
  /* padding: 1.0rem 2.0rem; */
  padding: 0.4rem 0;

  border-radius: 12px;
  /* font-size: 1.8rem; */
  font-size: 1.4rem;

  font-weight: 400;


  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.switch-field label:hover {
	cursor: pointer;
  background-color: #f6f6f6;
}

/* 1st label that is selected after checked input */
.switch-field input:checked + label {
	background-color: #ddd;
  /* color: #050505; */
	/* box-shadow: none; */
}

.location-container select{
  width: 50%;
}

.form-date-grid{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* justify-content: center;
  align-items: center; */
}

#form-time-from, #form-time-end {
  width: 100%;
}

.arrow-container{
  align-self: end;
  /* font-size: 3.0rem; */
  font-size: 2.4rem;
}

.special-info-container textarea{
  /* width: 70%; */
  /* width: 50%; */
  width: 100%;
  /* height: 6.2rem; */
  /* height: 5rem; */
  font-family: inherit;
  /* font-size: 1.8rem; */
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 9px;
  resize: none;
}

.btn--form {
  background-color: #339af0;
  color: #fff;
  /* width: 60%; */
  width: 100%;
  /* align-self: end; */
  
  /* same padding as input forms */
  padding: 1.2rem;
}

.btn--form:hover {
  /* background-color: #228be6; */

  /* 1 shade darker than above */
  background-color: #1c7ed6;
  /* background-color: #1971c2; */
}

.cta-grid-2-cols {
  display: grid;
  grid-template-columns: 45fr 55fr;
  /* column-gap: 6.4rem; */
  column-gap: 3.0rem;
}

/******************/
/* FOOTER */
/******************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: auto 1fr auto;
  justify-items: center;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links{
  list-style: none;
  display: flex;
  justify-content: center;

  /* gap: 2.4rem; */
}

.social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

/* might use later if I want to add more cols to footer */
/* .footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
} */

.footer-link:link,.footer-link:visited{
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: color 300ms;
}

.footer-link:hover, .footer-link:active{
  color: #555;
}


.copyright-mobile{
  display: none;

  margin-top: auto;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;

  text-align: center;
}

  .footer-logo--img {
    height: 5.2rem;
  }
