/******************/
/* HEADER */
/******************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /*  Because, header needs to be stickly for later */
  height: 9.6rem;
  padding: 0 4.8rem;

  /* closest parent of .main-nav */
  position: relative;
}

.logo {
  height: 2.2rem;
}

/******************/
/* NAVIGATION */
/******************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link, .main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: color 300ms;
}

.main-nav-link:hover, .main-nav-link:active {
  color: #cf711f;
}

/* use & to increase specificity so that it always applies */
.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav{
  border: none;
  background: none;
  cursor: pointer;
  
  display: none;
}

.icon-mobile-nav{
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* select based on attribute css */
.icon-mobile-nav[name="close-outline"]{
  display: none;
}

/* STICKY NAVIGATION, do all of below if class sticky exists */
.sticky .header {
  /* fix elm in viewport & will not move it while scrolling */
  /* problem is it takes elm out of the flow of page */
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;

  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2 rgba(0,0,0,0.03);

}

.sticky .section-hero {
  /* brings page down to offset the height of navigation bar */
  margin-top: 9.6rem;
}


/******************/
/* HERO */
/******************/

.section-hero {
  background-color: blue;
}

.hero-video{
  height: 100vh;
}

/* video#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(placeholder.jpg) no-repeat;
  background-size: cover;
} */